@font-face {
    font-family: "Century Gothic";
    src: url("./fonts/centurygothic.ttf");
}
* {
    font-family: "Century Gothic";
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    gap: 15px;
    padding: 10px;  
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header .user-menu {
    flex-grow: 1;
    text-align: right;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

header .user-menu a {
    display: block;
}

header .search-wrapper {
    flex-grow: 1;
}

img {
    width: 70px;
    height: auto;
}

main #products-grid {
    flex: 1;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li a {
    color: #eee;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #038387;
}

footer div strong {
    margin-bottom: 20px;
    display: block;
    color: #eee;
}

a {
    text-decoration: none;
}

.offcanvas-body a{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    color: black;
}

.offcanvas-body a:hover{
    background-color: #69797E;
    color: white;
    border-radius: 5px;
    transition: .3s ease all;
}

.price-content {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.price-content span:nth-child(1){
    font-weight: bold;
    font-size: 18px;
}

.price-content span:nth-child(2){
    text-decoration: line-through;
    color: #69797E;
}

.star-content {
    margin: 5px 0;
}

.contact-wrapper {
    display: flex;
    gap: 15px;
}

.contact-wrapper form {
    width: 400px;
}
.contact-wrapper iframe {
    flex: 1;
}
